@{
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}
<head>
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
        <div class="pb-9">
            <h2 class="mb-7">Pricing</h2>
            <div class="row">
                <div class="col-xl-12 col-xxl-9 mb-1">
                    <div class="tabs mb-7">
                        <ul class="nav nav-underline fs-9 mb-3" id="nav-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab" aria-controls="pills-year" aria-selected="false">Yearly</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-month" aria-selected="true">Monthly</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab">
                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                        <div class="h-100">
                                            <input class="card-form-check-input d-none" type="radio" name="pricingMonthly" id="startup" checked="checked" />
                                            <div class="position-relative h-100">
                                                <label class="stretched-link" for="startup"></label>
                                                <div class="card h-100 overflow-hidden cursor-pointer">
                                                    <div class="bg-holder d-dark-none" style="background-image:url('@Url.Content("~/Images/aiscreen/8.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="bg-holder d-light-none" style="background-image:url('@Url.Content("~/Images/aiscreen/8-dark.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="card-body d-flex flex-column justify-content-between position-relative">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="mb-5 mb-md-0 mb-lg-5 me-3">
                                                                <div class="d-sm-flex align-items-center mb-3">
                                                                    <h3 class="mb-0">Free Startup</h3>
                                                                </div>
                                                                <p class="fs-9 text-body-tertiary">For individuals who are interested in giving <br> it a try first on the screening.</p>
                                                                <div class="d-flex align-items-end mb-md-5 mb-lg-0">
                                                                    <h4 class="fw-bolder me-1">Free</h4>
                                                                    <h5 class="fs-9 fw-normal text-body-tertiary ms-1">Forever</h5>
                                                                </div>
                                                            </div><img class="d-dark-none" src="/Images/aiscreen/rocket.png" width="54" height="54" alt="" /><img class="d-light-none" src="/Images/aiscreen/rocket-dark.png" width="54" height="54" alt="" />
                                                        </div>
                                                        <div class="row flex-1 justify-content-end">
                                                            <div class="col-sm-8 col-md-12">
                                                                <div class="d-sm-flex d-md-block d-lg-flex justify-content-end align-items-end h-100">
                                                                    <ul class="list-unstyled mb-0 border-start-sm border-start-md-0 border-start-lg ps-sm-5 ps-md-0 ps-lg-5 border-translucent">
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Up to 5 resume screenings/day</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Basic AI matching</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Email support</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                        <div class="h-100">
                                            <input class="card-form-check-input d-none pricing-plan-recommended" type="radio" name="pricingMonthly" id="businessPlus" />
                                            <div class="position-relative h-100">
                                                <label class="stretched-link" for="businessPlus"></label>
                                                <div class="card h-100 overflow-hidden cursor-pointer bg-warning-subtle border-warning warning-boxshadow pricing-business-plus">
                                                    <div class="bg-holder d-dark-none" style="background-image:url('@Url.Content("~/Images/aiscreen/bg-11.png")');background-position:left bottom;background-size:auto;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="bg-holder d-light-none" style="background-image:url('@Url.Content("~/Images/aiscreen/bg-11-dark.png")');background-position:left bottom;background-size:auto;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="card-body d-flex flex-column justify-content-between position-relative">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="mb-5 mb-md-0 mb-lg-5 me-3">
                                                                <div class="d-sm-flex d-md-block d-lg-flex align-items-center mb-3">
                                                                    <h3 class="mb-0">Pro Plus</h3><span class="badge ms-sm-3 ms-md-0 ms-lg-3 text-uppercase fs-10 text-bg-warning">recommended</span>
                                                                </div>
                                                                <p class="fs-9 text-body-tertiary">For teams that need to manage and<br> need advance screening to work across initiatives.</p>
                                                                <div class="d-flex align-items-end mb-md-5 mb-lg-0">
                                                                    <h4 class="fw-bolder me-1">MYR 49.99</h4>
                                                                    <h5 class="fs-9 fw-normal text-body-tertiary ms-1">Per month</h5>
                                                                </div>
                                                            </div><img class="d-dark-none" src="/Images/aiscreen/star.png" width="54" height="54" alt="" /><img class="d-light-none" src="/Images/aiscreen/star-dark.png" width="54" height="54" alt="" />
                                                        </div>
                                                        <div class="row flex-1 justify-content-end">
                                                            <div class="col-sm-8 col-md-12">
                                                                <div class="d-sm-flex d-md-block d-lg-flex justify-content-end align-items-end h-100">
                                                                    <ul class="list-unstyled mb-0 border-start-sm border-start-md-0 border-start-lg ps-sm-5 ps-md-0 ps-lg-5 border-warning-subtle">
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Up to 100 resume screenings/day</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Advanced AI matching</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Priority email support</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Candidate Ranking</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                        <div class="h-100">
                                            <input class="card-form-check-input d-none" type="radio" name="pricingMonthly" id="enterprise" />
                                            <div class="position-relative h-100">
                                                <label class="stretched-link" for="enterprise"></label>
                                                <div class="card h-100 overflow-hidden cursor-pointer">
                                                    <div class="bg-holder d-dark-none" style="background-image:url('@Url.Content("~/Images/aiscreen/10.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="bg-holder d-light-none" style="background-image:url('@Url.Content("~/Images/aiscreen/10-dark.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="card-body d-flex flex-column justify-content-between position-relative">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="mb-5 mb-md-0 mb-lg-5 me-3">
                                                                <div class="d-sm-flex align-items-center mb-3">
                                                                    <h3 class="mb-0">Enterprise</h3>
                                                                </div>
                                                                <p class="fs-9 text-body-tertiary">For organizations that need <br> custom function.</p>
                                                                <div class="d-flex align-items-end mb-md-5 mb-lg-0">
                                                                    <h4 class="fw-bolder me-1">MYR 149.99</h4>
                                                                    <h5 class="fs-9 fw-normal text-body-tertiary ms-1">Per month</h5>
                                                                </div>
                                                            </div><img class="d-dark-none" src="/Images/aiscreen/shield-2.png" width="54" height="54" alt="" /><img class="d-light-none" src="/Images/aiscreen/shield-2-dark.png" width="54" height="54" alt="" />
                                                        </div>
                                                        <div class="row flex-1 justify-content-end">
                                                            <div class="col-sm-8 col-md-12">
                                                                <div class="d-sm-flex d-md-block d-lg-flex justify-content-end align-items-end h-100">
                                                                    <ul class="list-unstyled mb-0 border-start-sm border-start-md-0 border-start-lg ps-sm-5 ps-md-0 ps-lg-5 border-translucent">
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Unlimited resume screenings</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Premium AI matching</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">24/7 phone & email support</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Custom integrations</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Dedicated account manager</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContentYear">
                            <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab">
                                <div class="row g-3">
                                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                        <div class="h-100">
                                            <input class="card-form-check-input d-none" type="radio" name="pricingYearly" id="startupYearly" checked="checked" />
                                            <div class="position-relative h-100">
                                                <label class="stretched-link" for="startupYearly"></label>
                                                <div class="card h-100 overflow-hidden cursor-pointer">
                                                    <div class="bg-holder d-dark-none" style="background-image:url('@Url.Content("~/Images/aiscreen/8.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="bg-holder d-light-none" style="background-image:url('@Url.Content("~/Images/aiscreen/8-dark.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="card-body d-flex flex-column justify-content-between position-relative">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="mb-5 mb-md-0 mb-lg-5 me-3">
                                                                <div class="d-sm-flex align-items-center mb-3">
                                                                    <h3 class="mb-0">Startup</h3>
                                                                </div>
                                                                <p class="fs-9 text-body-tertiary">For individuals who are interested in giving <br> it a try first on the screening.</p>
                                                                <div class="d-flex align-items-end mb-md-5 mb-lg-0">
                                                                    <h4 class="fw-bolder me-1">MYR Free</h4>
                                                                    <h5 class="fs-9 fw-normal text-body-tertiary ms-1">Forever</h5>
                                                                </div>
                                                            </div><img class="d-dark-none" src="/Images/aiscreen/rocket.png" width="54" height="54" alt="" /><img class="d-light-none" src="/Images/aiscreen/rocket-dark.png" width="54" height="54" alt="" />
                                                        </div>
                                                        <div class="row flex-1 justify-content-end">
                                                            <div class="col-sm-8 col-md-12">
                                                                <div class="d-sm-flex d-md-block d-lg-flex justify-content-end align-items-end h-100">
                                                                    <ul class="list-unstyled mb-0 border-start-sm border-start-md-0 border-start-lg ps-sm-5 ps-md-0 ps-lg-5 border-translucent">
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Up to 5 resume screenings/month</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Basic AI matching</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Email support</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                        <div class="h-100">
                                            <input class="card-form-check-input d-none pricing-plan-recommended" type="radio" name="pricingYearly" id="businessPlusYearly" />
                                            <div class="position-relative h-100">
                                                <label class="stretched-link" for="businessPlusYearly"></label>
                                                <div class="card h-100 overflow-hidden cursor-pointer bg-warning-subtle border-warning warning-boxshadow pricing-business-plus">
                                                    <div class="bg-holder d-dark-none" style="background-image:url('@Url.Content("~/Images/aiscreen/bg-11.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="bg-holder d-light-none" style="background-image:url('@Url.Content("~/Images/aiscreen/bg-11-dark.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="card-body d-flex flex-column justify-content-between position-relative">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="mb-5 mb-md-0 mb-lg-5 me-3">
                                                                <div class="d-sm-flex align-items-center mb-3">
                                                                    <h3 class="mb-0">Business Plus</h3><span class="badge ms-sm-3 text-uppercase fs-10 text-bg-warning">recommended</span>
                                                                </div>
                                                                <p class="fs-9 text-body-tertiary">For teams that need to manage and <br> need advance screening to work across initiatives.</p>
                                                                <div class="d-flex align-items-end mb-md-5 mb-lg-0">
                                                                    <h4 class="fw-bolder me-1">MYR 599.88</h4>
                                                                    <h5 class="fs-9 fw-normal text-body-tertiary ms-1">Per year</h5>
                                                                </div>
                                                            </div><img class="d-dark-none" src="/Images/aiscreen/star.png" width="54" height="54" alt="" /><img class="d-light-none" src="/Images/aiscreen/star-dark.png" width="54" height="54" alt="" />
                                                        </div>
                                                        <div class="row flex-1 justify-content-end">
                                                            <div class="col-sm-8 col-md-12">
                                                                <div class="d-sm-flex d-md-block d-lg-flex justify-content-end align-items-end h-100">
                                                                    <ul class="list-unstyled mb-0 border-start-sm border-start-md-0 border-start-lg ps-sm-5 ps-md-0 ps-lg-5 border-translucent">
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Up to 100 resume screenings/month</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Advanced AI matching</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Priority email support</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Candidate Ranking</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                        <div class="h-100">
                                            <input class="card-form-check-input d-none" type="radio" name="pricingYearly" id="enterpriseYearly" />
                                            <div class="position-relative h-100">
                                                <label class="stretched-link" for="enterpriseYearly"></label>
                                                <div class="card h-100 overflow-hidden cursor-pointer">
                                                    <div class="bg-holder d-dark-none" style="background-image:url('@Url.Content("~/Images/aiscreen/10.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="bg-holder d-light-none" style="background-image:url('@Url.Content("~/Images/aiscreen/10-dark.png")');background-position:left bottom;background-size:auto;bottom:-1px;">
                                                    </div>
                                                    <!--/.bg-holder-->

                                                    <div class="card-body d-flex flex-column justify-content-between position-relative">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="mb-5 mb-md-0 mb-lg-5 me-3">
                                                                <div class="d-sm-flex align-items-center mb-3">
                                                                    <h3 class="mb-0">Enterprise</h3>
                                                                </div>
                                                                <p class="fs-9 text-body-tertiary">For organizations that need <br> custom function.</p>
                                                                <div class="d-flex align-items-end mb-md-5 mb-lg-0">
                                                                    <h4 class="fw-bolder me-1">MYR 1,799.88</h4>
                                                                    <h5 class="fs-9 fw-normal text-body-tertiary ms-1">Per year</h5>
                                                                </div>
                                                            </div><img class="d-dark-none" src="/Images/aiscreen/shield-2.png" width="54" height="54" alt="" /><img class="d-light-none" src="/Images/aiscreen/shield-2-dark.png" width="54" height="54" alt="" />
                                                        </div>
                                                        <div class="row flex-1 justify-content-end">
                                                            <div class="col-sm-8 col-md-12">
                                                                <div class="d-sm-flex d-md-block d-lg-flex justify-content-end align-items-end h-100">
                                                                    <ul class="list-unstyled mb-0 border-start-sm border-start-md-0 border-start-lg ps-sm-5 ps-md-0 ps-lg-5 border-translucent">
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Unlimited resume screenings</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Premium AI matching</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">24/7 phone & email support</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Custom integrations</span></li>
                                                                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Dedicated account manager</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="mb-0">Pro Plus plan can be purchased for a maximum of 300 users and invite your hiring team to collaborate, review resumes, and share shortlists. <br class="d-none d-xl-block d-xxl-none" /> Perfect for small to mid-sized teams who need to work together efficiently. <br class="d-none d-xl-block d-xxl-none" /> There is no maximum user limit for Enterprise plans.</p>
                        <p class="fw-semibold">Max System customers may have access to additional features for a limited <br class="d-none d-sm-block d-lg-none" />promotional period.</p>
                        <div class="d-grid d-sm-flex">
                            <button class="btn btn-lg btn-primary d-sm-flex align-items-center mb-3 mb-sm-0 me-sm-3 px-sm-8">Subscribe Now<span class="fas fa-angle-right ms-1"></span></button>
                        </div>
                    </div>
                </div>
            <div class="container py-9">
                <h3 class="mb-5">Plan Benefit Comparison</h3>
                <div class="table-responsive bg-white shadow-sm rounded">
                    <table class="table table-hover mb-0">
                        <thead class="bg-body-secondary">
                            <tr>
                                <th scope="col" class="ps-4">Feature</th>
                                <th scope="col" class="text-center">Free</th>
                                <th scope="col" class="text-center">Pro</th>
                                <th scope="col" class="text-center">Enterprise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ps-4">Resume Screenings / Day</td>
                                <td class="text-center">5</td>
                                <td class="text-center">100</td>
                                <td class="text-center">Unlimited</td>
                            </tr>
                            <tr>
                                <td class="ps-4">AI Matching</td>
                                <td class="text-center">Basic</td>
                                <td class="text-center">Advanced</td>
                                <td class="text-center">Premium</td>
                            </tr>
                            <tr>
                                <td class="ps-4">Team Users</td>
                                <td class="text-center">1</td>
                                <td class="text-center">Up to 3</td>
                                <td class="text-center">Unlimited</td>
                            </tr>
                            <tr>
                                <td class="ps-4">Shortlisted Profiles</td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center"><span class="text-success">✔</span></td>
                                <td class="text-center"><span class="text-success">✔</span></td>
                            </tr>
                            <tr>
                                <td class="ps-4">Screening History</td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center"><span class="text-success">✔</span></td>
                                <td class="text-center"><span class="text-success">✔</span></td>
                            </tr>
                            <tr>
                                <td class="ps-4">Support</td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center">Priority email</td>
                                <td class="text-center">24/7 phone & email</td>
                            </tr>
                            <tr>
                                <td class="ps-4">Custom Integrations</td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center"><span class="text-success">✔</span></td>
                            </tr>
                            <tr>
                                <td class="ps-4">Dedicated Account Manager</td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center"><span class="text-danger">✘</span></td>
                                <td class="text-center"><span class="text-success">✔</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            </div>
        </div>
</body>
</html>
